<h1>About Rice Portal</h1>
<p>
	This is a suite of tools built to improve efficiencies and provide easy access to resources for the Otis McAllister, Inc. rice and grains department.  If you have an idea for a feature, please submit to Dina Graves, dgraves@otismcallister.com.
</p>
