<div class="btn-group">
 
<%= link_to 'Edit', edit_purchase_path(@purchase), class: "btn btn-default" %> 
<%= link_to 'New Purchase', new_purchase_path, class: "btn btn-default" %>
<%= link_to 'Quotes Index', quotes_path, class: "btn btn-default" %>
</div>