<div class = "show-elements">
  <h1>Editing Purchase</h1>

<%= render 'form' %>

<%= link_to '<< Back to Purchase Details', @purchase %>  <br>
<%= link_to '<< Back to Purchase Index', purchases_path %>
</div>
