@import "bootstrap";

main{
  padding-top: 45px;}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;}

.navbar {
  background-color: #980000 ; 
  border-bottom: #880000;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar .nav > li > a:hover {
    color:  white;
    background-color: #880000;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-top: 12px;
  padding-left: 10px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: right;
  padding-right: 10px;
}

/* forms */


input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.dropdown-toggle:active, .open .dropdown-toggle {background:#880000 !important; }

/*a:hover, a:focus {
    background-color: #880000 !important;
}*/

/* User sign in and sign forms. */
.border-form-div {
  width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}


.checkbox {
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  vertical-align: center; 
 }

  .checkbox label {
    display: inline;
    margin-bottom: 0;
    font-weight: bold;
    cursor: pointer; 
    margin-left: -160px;
    vertical-align: center;}

.dropdown-menu {
  border: 2px solid (#980000); }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
text-decoration: none;
color: white;
background-color: #980000; }

.dropdown-menu > li > a {
display: block;
padding: 3px 20px;
clear: both;
font-weight: normal;
line-height: 1.428571429;
color: white;
white-space: nowrap; 
background-color: #880000; 
border: #880000;}

.navbar-nav > li > .dropdown-menu {
  background-color: #880000;
  border: #880000;
}

/* User sign in and sign forms. */
.show-elements {
  width: 500px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

